@import './style.css';
@import './tailwind.css';



@font-face {
    font-family: 'Inter';
    src: local('Inter'), url('../fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), url('../fonts/Bebas-Neue.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue'), url('../fonts/TT-Firs-Neue.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Interfaces';
    src: local('TT Interfaces'), url('../fonts/TT-Interfaces.ttf') format('truetype');
}


.router-link-active{
    color: #1878F3;
    font-weight: 500;
}



select::-ms-expand {
    display: none;
}


input[type="number"],
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

/* ::-webkit-scrollbar {
    background-color: red;
}

::-webkit-scrollbar-thumb {
    background-color: blue;
} */

.scroll_none::-webkit-scrollbar {
    width: 0;
    height: 0;
}